<h1>My tasks</h1>
<p>
  <%  @tasks.each do |task| %>

    <%= check_box_tag 'task[completed]', 1, task.completed %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to 'delete', task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    <br>

  <% end %>
</p>

<p>
  + <%= link_to 'Add new task', new_task_path %>
</p>
